@import url(font.css);
@import url(./more/scrollbar.css);
@import url(../../../node_modules/vue-select/dist/vue-select.css);

:root {
    --text--hover: #2F3AB2;
    --wrapper--hover: #e5e6f6;
    --input--radius: 4px
}

* {
    box-sizing: border-box;
    font-family: T Regular;
}

body {
    font-size: 15px
}

body,
p,
ul {
    margin: 0;
}

textarea {
    padding: 8px;
    width: 100%;
    outline: none;
    border-radius: var(--input--radius);
}

ul {
    list-style-type: none;
    padding: unset;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text__wrapper {
    height: 40px;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
    line-height: 24px;
}

.text:hover {
    color: var(--text--hover);
    background-color: var(--wrapper--hover);
    cursor: pointer;
}