@font-face {
    font-family: T Black;
    src: url(@/assets/font/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: T Light;
    src: url(@/assets/font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: T Italic;
    src: url(@/assets/font/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: T Bold;
    src: url(@/assets/font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: T Regular;
    src: url(@/assets/font/Roboto/Roboto-Regular.ttf);
}