.icon {
    background-repeat: no-repeat;
}

.icon__wrapper {
    position: relative;
    height: 40px;
    width: 40px;
}

.icon--18px {
    width: 18px;
    height: 18px;
}

.icon--24px {
    width: 24px;
    height: 24px;
}

.icon--search {
    background-image: url(../img/icons/search-icon.png);
}

.icon--home {
    background-image: url(../img/icons/home-icon.png);
}

.icon--about {
    background-image: url(../img/icons/about-us.png);
}

.icon--contact {
    background-image: url(../img/icons/contact.png);
}

.icon--guide {
    background-image: url(../img/icons/guide-book.png);
}

.icon--close {
    background-image: url(../img/icons/base/app-icon.png);
    background-position: -375px -287px;
}